html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

header {
  border: 1px solid black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f3d;
}

header h1 {
  color: #FFFFFF;
  padding-left: 50px;
  font-size: 40px;
  text-transform: uppercase;
}

span {
  color: #FFC30C;
}

.search-container input {
  width: 300px;
  font-size: 30px;
  border-radius: 0 7px 7px 0;
}

.search-container {
  display: inline-flex;
  margin-right: 40px;
}

.search-container button {

  border-radius: 7px 0 0 7px;
}

.search-icon {
  margin-top: 5px;
  height: 40px;
  width: 40px;
}

main {
  height: 90vh;
  display: flex;
}

aside {
  height: 90vh;
  /* width: 30%; */
  background-color: #587a8a;
  vertical-align: top;
  overflow: hidden;
}

.aside-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* height: 90vh; */
}

.aside-title {
  width: 90%;
  /* margin-bottom: 30px; */
  margin: 0 5% 30px 5%;
}

.aside-title input {
  width: 97%;
  height: 40px;
  font-size: 2em;
}

.aside-title p,
.aside-task-item p {
  margin-bottom: 5px;
  color: #f3f6f7;
}

.task-item-section {
  display: inline-flex;
}

.aside-task-item {
  width: 90%;
}

.rough-draft-card {
  width: 90%;
}

.task-item {
  width: 85%;
  height: 40px;
  font-size: 24px;
}

.add-task-button {
  background-color: #1f1f3d;
  color: #FFFFFF;
  margin-right: auto;
  width: 15%;
  font-size: 32px;
}

.aside-button {
  width: 90%;
  background-color: #1f1f3d;
  color: #FFFFFF;
  margin-top: 30px;
  box-sizing: border-box;
  font-size: 20px;
  height: 40px;
  outline: none: border: 0px;
}

button:hover {
  cursor: pointer;
}

.aside-filter-box {
  border-top: 2px solid #3c6577;
  margin-top: 60px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.filter:hover {
  background-color: #EF4A23;
}

.right-side {
  padding: 1em;
  display: inline-block;
  height: 90vh;
  width: 75%;
  background-color: #f3f6f7;
  vertical-align: top;
  overflow: scroll;
}

.hide {
  display: none;
}

.initial-greeting {
  padding-left: 50px;
  font-weight: bold;
  color: blue;
  font-size: 24px;
}

.task-container {
  column-width: 20em;
  margin-left: 5px;
  margin-top: 5px;
}

.taskbox {
  display: inline-block;
  width: 75%;
  background-color: #FAFDFF;
  margin: 0.25rem;
  padding: 1rem;
  background: #f3f6f7;
  font-size: 24px;
}

.top-of-taskbox {
  border: 2px solid #c7d3d8;
  color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-of-taskbox img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

#save-task-title {
  margin-top: 5px;
}

.top-of-taskbox img:hover {
  cursor: pointer;
}

#taskbox-title, .title-input {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 24px;
}

.title-input {
  font-size: 20px;
  width: 80%;
}


.task-list ul {
  font-size: 20px;
  list-style: none;
  margin-left: -30px;
}

.task-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
  height: 45px;
}


.task-list {
  border: 2px solid #c7d3d8;
  color: #1f1f3d;
  font-size: 30px;
  height: auto;
}

.bottom-of-taskbox {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #c7d3d8;
  padding-top: 5px;
}

.urgent-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.urgent-button img, .delete-button-task img {
  height: 25px;
  width: 25px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.delete-button-task img {
  margin-left: 10px
}

.urgent-button p,
.delete-button-task p {
  margin: 0px;
  font-size: 12px;
}

.delete-button-task p {
  margin-right: 5px
}

.delete-button-task:hover, .urgent-button:hover {
  cursor: pointer;
}

.urgent-button p {
  margin-left: 5px
}

.delete-btn-rough {
  height: 30px;
  width: 30px;
  padding-right: 5px;
}

.checkbox-btn {
  height: 22px;
  width: 22px;
  padding-right: 7px;
}

.rough-draft-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FFFFFF;
}

.roughdraftitem {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
}

.urgent-font {
  color: #B23A25;
}

.urgent-style {
  border: 2px solid #FFC30C;
  background-color: #FFE89D;
}

.task-list-checked {
  font-style: italic;
  color: #3c6577;
}

.hidden {
  display: none;
}

.ind-task:hover{
  cursor: pointer;
}

.task-input {
  width: 70%;
  font-size: .7em;
  height: 15px;
  border-radius: 5px;
  border: 2px solid #c7d3d8;
  padding-right: 5px;
}

#save-task {
  height: 15px;
  width: 15px;
}

#save-task:hover {
  cursor: pointer;
}